/*########################################################
# Animações
########################################################*/

@keyframes colors {
  0% {
      color: red;
  }
  20% {
      color: yellow;
  }
  40% {
      color: yellowgreen;
  }
  70% {
    color: orange;
  }
  80% {
    color: cyan;
  }
  100% {
    color: red;
  }
}

@keyframes slidetop {
	from{
		margin-top: -300%;
	}
	to{
		margin-top: 0%;

	}
}

@keyframes slidebottom {
	from{
		margin-bottom: -300%;
	}
	to{
		margin-top: 0%;

	}
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

/*########################################################
# Style
########################################################*/

* {
  margin: 0px;
  padding: 0px;
  color: aliceblue;
  text-decoration: none;
}

html {
  background-image: url('../imgs/fundo-index.gif');
}

body {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.header {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.main {
  padding: 10%;
  align-items: center;
  justify-content: center;
  /*flex-direction: column;*/
  display: flex;
}

.sub-main {
  padding: 5px;
}

.cp-img {
  width: 250px;
  animation: slidebottom 2.5s forwards;
}

.title{
  font-family: "Cairo Play", sans-serif;
  animation: slidetop 3s;
}

.button {
  font-family: "Expletus Sans", sans-serif;
  font-size: 18px;
  background-color: rgba(73, 76, 87, 0.5);
  padding: 6px;
  border-radius: 10px;
  opacity: 0;
  animation: fade 5s forwards;
}

.links:hover {
  animation: colors 0.5s ease-in-out infinite;

}

.footer {
  font-family: "Cairo Play", sans-serif;
  position: fixed;
  bottom: 0;
  text-align: center;
  justify-content: center;
  display: flex;
  width: 100%;
  padding-bottom: 10px;
}